---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>404 - Not Found</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-background text-text">
    <h1 class="m-auto w-[34rem] pt-[22rem]">Uh oh, you found my 404 page. Click <a href="#" class="text-red-500 underline">me</a> to go back to the main page. </h1>
  </body>
</html>
