---
import BaseHeaders from "../components/baseheaders.astro";
---

<html lang="en">
  <head>
    <BaseHeaders />
  </head>
  <body class="bg-background">
    <div class="text-text flex justify-center text-center">
        <p class="pt-[22rem] text-xl">Oh no! <br> Blogs page isn't finished yet. Please visit <a href="#" class="text-teal-200 underline ">Home</a> instead!
    </div>
  </body>
</html>
