---
import BaseHeaders from "../components/baseheaders.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
---

<html lang="en">
  <head>
    <BaseHeaders link="Home"/>
  </head>
  <body class="bg-background">
    <Header firstlink="/" firstname="Home" secondlink="/blogs" secondname="Blogs"/>
    <p class="text-text flex justify-center pt-36 mx-5 lg:mx-0">im wayy to lazy to yea this is for some odd reason, once i found the time i would work on this</p>

    <Footer />
  </body>
</html>
