---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>JadeBetty - Home</title>
	<link rel="stylesheet" href="/src/input.css">
  </head>
  <body class="ml-80 mr-80 mt-12">
    <div class="logo">
      <p>
        <img src="images/favicon.png" class="w-8 rounded-full inline ml-4" />
        JadeBetty
      </p>

      <h1>Hey there! I'm JadeBetty</h1>
    </div>
  </body>
</html>
