---
const data = Astro.props;
console.log(data)
---

<footer class="text-text text-center mt-40 mb-20">
    <h2 class="text-xl pt-3">JadeBetty</h2>
    <h2 class={`text-xl pt-3 ${data.aviation ? 'block' : 'hidden'}`}>this aviation page is not done yet </h2>
    <p class="text-base pt-3">© 2024 - JadeBetty<br><a href="/license" class="underline hover:no-underline transition-all duration-300 ">licenses stuff</a></p>
    
</footer>
