---
---

<div class="flex max-w-[75rem] text-text m-auto pt-10" id="headers">
  <a href="#" class="text-3xl">JadeBetty</a>
  <div
    class="underline mt-1 ml-[50rem] text-lg transition-all hover:scale-110 active:scale-90 ease-in-out"
  >
    <a href="#" class="hover:transition hover:ease-out">Home</a>
  </div>
  <div
    class="mt-1 ml-10 text-lg transition-all hover:scale-110 active:scale-90 ease-in-out hover:underline"
  >
    <a href="blogs">Blogs</a>
  </div>
  <div
    class="mt-1 ml-10 text-lg transition-all hover:scale-110 active:scale-90 ease-in-out hover:underline"
  >
    <a href="https://github.com/JadeBetty/portfolio">Github</a>
  </div>
</div>
