---
import Socialsbar from "./socialsbar.astro";
---

<div
  id="body"
  class="text-text max-w-[20rem] pt-[10rem] m-auto flex lg:pt-[15rem] lg:max-w-[75rem]"
>
  <div class="pt-8 lg:pr-[33rem]">
    <p id="hello-text" class="text-2xl font-medium lg:text-4xl lg:w-[448px]">
      Hey there! I'm <span class="underline text-[#4EC2A7] underline-offset-8"
        >JadeBetty</span
      >
    </p>

    <p
      id="description"
      class="font-[550] mt-[0.75rem] text-sm max-w-md mb-[1rem] md:text-md"
    >
      A self taught code writer.
      <br />
      <br />
      I'm a junior-high school programmer who is interested in computers, and games
      like Uncharted 4 being my favorite.
      <br />
      <span class="text-xs font-light">I use Windows and Debian, btw</span>
    </p>
    <Socialsbar />
  </div>
  <img
    src="/images/favicon.jpg"
    class="hidden w-[250px] h-[250px] rounded-full lg:inline"
  />
</div>
