---
import Project from "../components/project.astro";
interface Repo {
  owner: string;
  repo: string;
  description: string;
  language: string;
}
const pinsrepo = (await (
  await fetch(
    "https://gh-pinned-repos-tsj7ta5xfhep.deno.dev/?username=jadebetty"
  )
).json()) as Repo[];
---

<div class="flex justify-center pt-[25rem]">
  <div class="flex flex-col gap-5 justify-center lg:flex-row lg:flex-wrap lg:w-[840px] lg:h-[393px]">
    <p class="flex items-center text-text text-3xl font-medium lg:text-4xl justify-center">
      Projects
    </p>
      {pinsrepo.map((repo) => <Project {...repo} />)}
  </div>
</div>
