---

---
<div id="socialsbar" class="hidden bg-[#1d1e1a] w-[158px] h-[38px] rounded-full transition-all hover:scale-110 active:scale-90 ease-in-out items-center lg:flex">
  <a href="https://github.com/JadeBetty">
    <img src="/images/github.svg" class="w-[24px] h-[24px] ml-5" />
  </a>
  <a href="https://discord.com/users/758617912566087681">
    <img src="/images/discord.svg" class="w-[24px] h-[24px] ml-5" />
  </a>
  <a href="https://twitter.com/jadebetty69">
    <img src="/images/twitter.svg" class="w-[24px] h-[24px] ml-5" />
  </a>
</div>
