---
import BaseHeaders from "../components/baseheaders.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

const {
  content: { title, description, pubDate, author },
} = Astro.props;

const date = new Date(pubDate).toLocaleDateString("en-us", {
  year: "numeric",
  month: "numeric",
  day: "numeric",
});



---

<html lang="en">
  <head>
    <BaseHeaders link={title} description={description} banner="blogs.png"/>
  </head>
  <body class="bg-background text-text">
    <Header firstlink="/blogs" firstname="Blogs" secondlink="/" secondname="Portfolio"/>

    <div class="max-w-[29rem] py-5 md:py-10 m-auto flex lg:max-w-[75rem]">
      <a href="/" class="flex items-center gap-3 text-xl">
        <img src="/images/favicon.jpg" class="w-[46px] rounded-full" />
        <div class="flex flex-col">
          {author}
          <span class="text-sm">{date}</span>
        </div>
      </a>
    </div>
    

    <article class="prose prose-sm lg:max-w-[40rem] lg:mx-[22rem] mx-10" >
        <slot />
    </article>

    <Footer />
  </body>
</html>
