---
import BaseHeaders from "../components/baseheaders.astro";
import Header from "../components/header.astro";

const {
  content: { title, description, pubDate },
} = Astro.props;

const date = new Date(pubDate).toLocaleDateString("en-us", {
  year: "numeric",
  month: "short",
  day: "numeric",
});

const realtitle = "Blogs - " + title

console.log(Astro.props)

---

<html lang="en">
  <head>
    <BaseHeaders link={title} description={description}/>
  </head>
  <body class="bg-background text-text">
    <Header firstlink="/blogs" firstname="Blogs" secondlink="/" secondname="Portfolio"/>
    <article class=" mx-96 my-12 text-sm" >
        <slot />
    </article>
  </body>
</html>
